/* TOP NAVIGATION BAR */
#top-navbar{
    top: 0px;
    background-color: #0F0D0D;     /*#0099cc*/
    text-align: center;
    height: 45px;
    transform: translate3d(0px,0px,0px);
}

div#top-nav-menu div div:hover{
    background-color: #2C2929;
}

/** MENU TOP NAVBAR **/
.active-top-menu{
    background-color: #303A3D !important;
}
/***** SEARCH BAR IN TOP NAVIGATION *****/
#search-bar{
    border-bottom: 2px solid whitesmoke;
    background: transparent;
}
#search-bar:focus{
    outline: 0px;
}
#search-bar::-webkit-input-placeholder {
    color: #EEE8E8;
}
#search-bar:focus::-webkit-input-placeholder {
    color: transparent;
}
/** MENU ICON**/
.menu-icon-div{
    width: 25px;
    height: 3px;
    background-color: whitesmoke;
    margin: 4px 0px;
}

/* ******************************************* MIDDLE SECTION ************************************************** */
div#middle-section{
    height: calc(100% - 105px);
    transform: translate3d(0px, 45px,0px);
    background-color: #1E2323;
}

/** SIDE NAVIGATION BAR **/
#side-navbar{
    background-color: rgba(26, 24, 23, 1);
    transform: translate3d(calc(-1 * 100%), 0px,0px);
    transition: transform 0.3s linear;
}
.side-navbar-child:nth-child(even){
    background-color: #0E0C0C;
}
.side-navbar-child:hover{
    background-color: rgb(110, 114, 114);
}

/**  MAIN SECTION **/
div#main-section{
    transition: width 0.3s linear;
    background-color: #1E2323;
}
div.active-main-page{
    z-index: 1000 !important;
}
/** NO-SONGS DIVISION **/
/* #no-songs{
    width: 100%;
    height: 100%;
} */

/** ADD SONGS DIVISION **/
div#add-songs{
    background-color: #1E2323;
}
/** SONGS CONTAINER **/
/*** INNER SONGS CONTAINER ***/
div#inner-songs-container{
    float: right;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #1E2323;
}
/**** ALBUM DISPLAY PAGE ****/
div#album-page, div#artist-page{
    transition: z-index 1s ease;
    background-color: #1E2323;
}
div#context-menu-album{
    width: 200px;
    height: 250px;
    position: absolute;
    text-align: center;
    background-color: rgb(228, 228, 228);
}
/******* SONGS IN SELECTED ALBUM & ARTIST *******/
div.songs-in-album:nth-child(odd),div.songs-in-artist:nth-child(odd){
    background-color: #161819;
}
div.songs-in-album:hover, div.songs-in-artist:hover{
    background-color: rgb(79, 82, 87);
}
div.songs-in-album ul,div.songs-in-album li{
    display: inline-block;
}
div.songs-in-album li{
    padding: 0px 15px;
}
/**** ALBUMS CONTAINER & ARTISTS CONTAINER ****/
div#albums-container, div#artists-container{
    overflow-x: auto;
    overflow-y: hidden;
    transition: z-index 1s ease;
    background-color: #1E2323;
}
/***** ALBUMS INNER CONTAINER & ARTISTS INNER CONTAINER *****/
div#albums-inner-container,div#artists-inner-container{
    height: 100%;
}
/****  ALBUM & ARTIST ****/
div.album,div.artist{
    width: 200px;
    height: 50%;
    margin: 0px 20px;
}
div.image-container{
    width: 160px;
    height: 180px;  
}
.image{
    width: 120px;
}
/* ARTIST ICON */
div#artist-head{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    border: 3px solid #555555;
    margin: auto;
}
div#artist-body{
    width: 100px;
    height: 50px;
    border-top-left-radius: 53px; 
    border-top-right-radius: 53px;
    border: 3px solid #555555;
    border-bottom: 0;
    margin: auto;
}
/**** BUTTON IN NO-SONGS DIVISION ****/
.button-no-songs{
    width: 140px;
    height: 36px;
    background-color: #20578B;
    line-height: 100%;
}
/** FEEDBACK SECTION **/
#feedback-field{
    float:left;
    margin:30px 30px 5px 30px;
    background-color: black;
    color: rgb(192, 192, 192);
    font-size: 18px;
    font-weight: 300;
}
#feedback-field:focus{
    outline: rgb(44, 85, 122) solid 2px;
}
#chars-left{
    color:white;
    font-size:20px;
    font-weight: 300;
    text-align:left;
    margin-left:30px;
}
/* ************************************** FOOTER **************************************** */
#footer{
    bottom: 0px;
    height: 60px;
    background-color: rgb(15,13,13);
}
/*** SEEK BAR ***/ 
div#seek-bar{
    width: 86%;
    height: 5px !important;
    border-radius: 3px;
    background-color: #2B2C28;
    margin: 9.5px 0px 3.5px 0px;
}

div#current-position{
    border-radius: 3px;
    background-color: #256F9B;
}
div#backward{
    height: 20px;
}
div.backward-btn{
    float: left;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid royalblue;
}
/* div#play_pause{
    transition: width 0.5s ease, height 0.5s ease, border-left 0.5s ease, border-right 0.5s ease;
} */
div.play{
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #1E6479;
    border-right: 0px solid transparent;
}
div.pause{
    width: 6px;
    height: 100%;
    border-left: 5px solid #1E6479;
    border-right: 5px solid #1E6479;
}
div#forward{
    height: 20px;
}
div.forward-btn{
    float: left;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid royalblue;
}