body,html{
    height: 100%;
    margin:0px;
    overflow: auto;
}
body{
    background-color: rgb(27, 31, 34);
}
p{
    margin: 0px;
}
/* GENERIC CSS */
/** CURSOR **/
.cursor-pointer{
    cursor: pointer;
}
/** DISPLAY **/
.hide{
    display: none !important;
}
/** FONT **/
.font-century-gothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-size-20{
    font-size: 20px;
}
/** HEIGHT **/
.full-height{
    height: 100%;
}
/** WIDTH **/
.full-width{
    width: 100%;
}
/***** NON-GENERIC CSS ****************************************************************************************************/
/* ROOT ELEMENT */
#root{
    display: flex;
    flex-direction: column;
}
/** SENDER AND RECEIVER SONGS CONTAAINERS **/
#sender-container, #receiver-container{
    flex: 1 0 auto;
    min-height: 350px;
    min-width: 600px;
}
/*** BUTTON CLASS ***/
.button{
    width: 150px;
    height: 40px;
    background-color: rgb(18,88,119);
    border-radius: 10px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 40px;
}
/* FOOTER ********************************************/
#footer{
    min-width: 600px;
    height: 60px;
    background-color: rgb(26, 23, 23);
}
/** SEND BUTTON **/
#send-btn{
    float:right;
    margin: 15px 30px 15px 0px;
}