body,html{
    height: 100%;
    margin:0px;
    overflow: hidden;
    color: rgb(255, 255, 255);
    user-select: none;
}
body{
    background-color: rgb(27, 31, 34);
}
p,div{
    margin: 0px;
}
/* GENERIC CSS */
/** CURSOR **/
.cursor-pointer{
    cursor: pointer;
}
/** DISPLAY **/
.hide{
    display: none !important;
}
/** FLOAT **/
.float-left{
    float: left;
}
/** FONT **/
.font-century-gothic{
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-20{
    font-size: 20px;
}
.font-30{
    font-size: 30px;
}
/** HEIGHT **/
.full-height{
    height: 100%;
}
/** WIDTH **/
.full-width{
    width: 100%;
}
/***** NON-GENERIC CSS ****************************************************************************************************/
/* ROOT ELEMENT */
#root{
    display: flex;
    flex-direction: column;
    overflow: auto;
}
/** HEADER **/
#header{
    min-width: 600px;
    height: 30px;
    background-color: rgb(67, 69, 70);
}
/** SENDER AND RECEIVER SONGS CONTAAINERS **/
#sender-container, #receiver-container{
    flex: auto;
    overflow-x: hidden;
    overflow-y: auto;
    min-height: 350px;
    min-width: 600px;
}
.file{
    min-width: 600px;
    margin:10px auto;
    height:25px;
    font-weight: 200;
    padding-left: 15px;
    border-bottom: 2px solid rgb(15, 14, 14);
}
.file-name{
    display:inline-block;
    width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*** BUTTON CLASS ***/
.button{
    width: 150px;
    height: 40px;
    background-color: rgb(18,88,119);
    border-radius: 10px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1.5px;
    line-height: 40px;
}
/* FOOTER ********************************************/
#footer{
    min-width: 600px;
    height: 60px;
    background-color: rgb(26, 23, 23);
}
/** SEND BUTTON **/
#send-btn{
    float:right;
    margin: 15px 30px 15px 0px;
}
/* receivers-list */
#receivers-list{
    background-color: rgb(31, 28, 28);
    overflow: auto;
}
/** REEIVER **/
.receiver{
    height: 30px;
    font-weight: 300;
    line-height: 30px;
    padding-left: 20px;
}
.receiver:hover{
    background-color: rgb(153, 146, 146);
    color: black;
}